.idea/
.modgit/
app/code/
app/design/adminhtml/
app/design/install/
app/design/frontend/base/
app/design/frontend/default/
app/etc/modules/
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/config.xml
app/.htaccess
app/Mage.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/
shell/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage
media/
media/customer/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
.htaccess
.htaccess.sample
api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
skin/adminhtml/
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/
vendor/